<div class="text-center">
  <h1>Colombia y la corrupción</h1>
</div>
<div class="container" style="padding: 20px 0;" >
  <div class="text-right">
    Dinero desperdiciado en corrupción desde la creación de este sitio (29/01/2018) $<span class="value-money-global"><%= number_with_delimiter(@money.value, delimiter: ".") %></span>
    <!-- (29/01/2018 3:18 PM) -->
  </div>
  <div class="text-right">
    Desde que entraste a este sitio se ha perdido en Colombia $<span class="value-money">0</span> debido a la corrupción <a href="http://www.eltiempo.com/justicia/delitos/precio-de-la-corrupcion-en-colombia-61749" target="blank" data-toggle="tooltip" title="<%= @claim %>">Info</a>
  </div>
  <div class="text-right">
    ¿Qué harias tu con este dinero? Cuentanos en 
    <div class="fb-share-button" data-href="http://corruption.herokuapp.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcorruption.herokuapp.com%2F&amp;src=sdkpreparse">Compartir</a></div>
    <a class="twitter-share-button" target="blank"
    href="https://twitter.com/intent/tweet?size=l&url=https%3A%2F%2Fcorruption.herokuapp.com&related=twitterapi%2Ctwitter&text=Con%20$<%= number_with_delimiter(@money.value, delimiter: ".") %>%20podría&hashtags=NoMasCorrupcion"
    class="twitter-hashtag-button" data-show-count="false">
    Tweet</a>
  </div>
</div>
<div class="container news">
  <div class="row">
      <% @google.each do |article| %>
      <div class="col-md-4 article-padding">
        <a href="<%= article[:link] %>" target="blank"><p><strong><%= article[:title] %></strong></p></a>
        <small><p style="margin-top:-10px"> <%= article[:date].strftime("Publicado: %F") %></a></p></small>
        <p>
        <%= article[:description].html_safe %>
        </p>
      </div>  
      <% end %>
  </div>
  <div class="row">
      <% @google2.each do |article| %>
      <div class="col-md-4 article-padding">
        <a href="<%= article[:link] %>" target="blank"><p><strong><%= article[:title] %></strong></p></a>
        <small><p style="margin-top:-10px"> <%= article[:date].strftime("Publicado: %F") %> </a></p></small>
        <p>
        <%= article[:description].html_safe %>
        </p>
      </div>  
      <% end %>
  </div>
  <div class="row">
      <% @google3.each do |article| %>
      <div class="col-md-4 article-padding">
        <a href="<%= article[:link] %>" target="blank"><p><strong><%= article[:title] %></strong></p></a>
        <small><p style="margin-top:-10px"> <%= article[:date].strftime("Publicado: %F") %> </a></p></small>
        <p>
        <%= article[:description].html_safe %>
        </p>
      </div>  
      <% end %>
  </div>
</div>

<script>
    lostMoney = 0;
    $(document).ready(function() {
      var dot_separator_number_step = $.animateNumber.numberStepFactories.separator('.');
      var updateMoney = function(){
        console.log( 'Currently at ' + (lostMoney += 1653439) );

        $('.value-money').animateNumber({ number: lostMoney, numberStep: dot_separator_number_step });
      }
      var updateMoneyGlobal = function(){
        $.ajax({
          dataType: "script",
          url: '/lost_money.js', // you could be fancy and set this in a data attribute.
          success: function(response) {
            // update your form with the response from your ajax request
          }
       });
      }
      setInterval(updateMoney, 1000);
      setInterval(updateMoneyGlobal, 1000);
      updateMoney()
      $('[data-toggle="tooltip"]').tooltip()
    });
</script>