<div class="text-center">
  <h1>Colombia y la corrupción</h1>
</div>
<div class="container" style="padding: 20px 0;" >
  <div class="text-right">
    Dinero desperdiciado en corrupción desde la creación de este sitio $<span class="value-money">0</span>
  </div>
  <div class="text-right">
    ó<br>
    Desde que entraste a este sitio se ha perdido en Colombia $<span class="value-money">0</span> debido a la corrupción <a href="http://www.eltiempo.com/justicia/delitos/precio-de-la-corrupcion-en-colombia-61749" target="blank" data-toggle="tooltip" title="<%= @claim %>">Info</a>
  </div>
  <div class="text-right">
    ¿Qué harias tu con este dinero? Cuentanos en <a href="#">Facebook</a> <a href="#">Twitter</a>
  </div>
</div>
<div class="container news">
  <div class="row">
      <% @google.each do |article| %>
      <div class="col-md-4 article-padding">
        <a href="<%= article[:link] %>" target="blank"><p><strong><%= article[:title] %></strong></p></a>
        <small><p style="margin-top:-10px"> <%= article[:date].strftime("Publicado: %F") %></a></p></small>
        <p>
        <%= article[:description].html_safe %>
        </p>
      </div>  
      <% end %>
  </div>
  <div class="row">
      <% @google2.each do |article| %>
      <div class="col-md-4 article-padding">
        <a href="<%= article[:link] %>" target="blank"><p><strong><%= article[:title] %></strong></p></a>
        <small><p style="margin-top:-10px"> <%= article[:date].strftime("Publicado: %F") %> </a></p></small>
        <p>
        <%= article[:description].html_safe %>
        </p>
      </div>  
      <% end %>
  </div>
  <div class="row">
      <% @google3.each do |article| %>
      <div class="col-md-4 article-padding">
        <a href="<%= article[:link] %>" target="blank"><p><strong><%= article[:title] %></strong></p></a>
        <small><p style="margin-top:-10px"> <%= article[:date].strftime("Publicado: %F") %> </a></p></small>
        <p>
        <%= article[:description].html_safe %>
        </p>
      </div>  
      <% end %>
  </div>
</div>

<script>
    lostMoney = 0;
    $(document).ready(function() {
      var dot_separator_number_step = $.animateNumber.numberStepFactories.separator('.');
      var updateMoney = function(){
        console.log( 'Currently at ' + (lostMoney += 1653439) );

        $('.value-money').animateNumber({ number: lostMoney, numberStep: dot_separator_number_step });
      }
      setInterval(updateMoney, 1000);
      updateMoney()
      $('[data-toggle="tooltip"]').tooltip()
    });
</script>